*{
    font-family: Roboto, sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

.header{
    background-color: #1F2937 ;
    color: #F9FAF8;
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 10px 200px 100px 200px;
}

.logo{
    font-size: 24px;
    margin-right: auto;
    font-weight: 700;
}

.header-link{

}

.hero{
    display: flex;
    background-color: #1F2937 ;
    justify-content: space-between;
    padding: 0 200px 100px 200px;
    gap: 32px;
}

.hero .left{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hero .left .maintext{
    font-size: 48px;
    color:#F9FAF8;
    font-weight: 900;
}

.hero .left .subtext{
    font-size: 18px;
    color:#E5E7EB;
}

.hero .left .button{
    background-color: #3882F6;
    border-radius: 5px;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    align-self: flex-start;
    padding: 4px 16px;
}

.information{
    display: flex;
    flex-direction: column;
    background-color: #F9FAF8;
    align-items: center;
}

.information .header{
    font-size: 36px;
    color: #1F2937;
    background-color: #F9FAF8;
    font-weight: 900;
}

.infocontainer{
    display: flex;
    justify-content: space-between;
    padding: 0 200px 100px 200px;
    gap: 18px;
}
.infobox{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4px;
}

.infobox .text{
    color: #555f6c;
    font-size: 18px;
}

.quote{
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    display: flex;
    flex-direction: column;
    padding: 100px 200px 100px 200px;
    gap: 16px;
}

.quoty{
    align-self: flex-end;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
}

.call-to-action{
    padding: 100px 200px 100px 200px;
    background-color: #F9FAF8;
}

.call-box{
    display: flex;
    align-items: center;
    background-color: #3882F6;
    color: #E5E7EB;
    justify-content: space-between;
    padding: 50px 100px 50px 100px;
    border-radius: 5px;
}

.call-box .left .maintext{
    font-size: 18px;
    color:#F9FAF8;
    font-weight: 900;
}

.call-box .left .subtext{
    font-size: 12px;
    color:#E5E7EB;
}

.call-box .button{
    border: 2px solid #E5E7EB;;
    border-radius: 5px;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding: 4px 16px;
}